.section1 button{
    width: 5rem;
    height: 3rem;
    font-size: 0.7rem;
    font-weight: 900;

}
.mainDiv{
    border: 5px solid rgb(255, 255, 255);
    width: 90rem;
    margin: 0rem auto;
}

textarea:focus{
    outline: none;
}